.login {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  font-family: OpenSans-regular, Arial, Helvetica, sans-serif;
}

.login__logo {
  width: 250px;
  margin: 3rem 0 1rem;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__label {
  font-size: 14px;
  position: relative;
  margin-bottom: 1rem;
  cursor: inherit;
  border-top: 20px solid transparent;
}

.login__placeholder {
  padding: 0 5px;
  background: white;
}

.login__label input {
  border: 2px solid #ddd;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.login__label .login__placeholder {
  position: absolute;
  left: 12px;
  /* bottom: 50%; */
  top: 22px;
  transform: translateY(-50%);
  /* width: calc(100% - 24px); */
  color: #aaa;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.login__label input:focus + .login__placeholder {
  top: 0px;
  font-size: 10px;
  color: #222;
  background: white;
  padding: 0 5px;
}

.login__label input:valid + .login__placeholder {
  top: 0px;
  font-size: 10px;
  border-color: #222;
  transition-delay: 0.1s;
}

.login__label input .login__placeholder {
  padding: 0 5px;
}

.login__btn {
  margin-top: 2rem;
  border-radius: 3px;
  padding: 8px;
  border: none;
  background-color: #49a286;
  color: white;
  transition: all .3s ease;
}

.login__btn:hover {
  background-color: #448571;
}

.login__link {
  color: #49a286;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
}
