.login {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.login__logo {
  width: 250px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__label {
  font-size: 14px;
  position: relative;
  margin-bottom: 1rem;
  border-top: 20px solid transparent;
}

.login__label input {
  border: 2px solid #ddd;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
}

.login__label .login__placeholder {
  position: absolute;
  left: 12px;
  /* bottom: 50%; */
  top: 22px;
  transform: translateY(-50%);
  width: calc(100% - 24px);
  color: #aaa;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.login__label input:focus + .login__placeholder {
  top: 0px;
  font-size: 10px;
  color: #222;
}

.login__label input:valid + .login__placeholder {
    top: -10px;
    font-size: 10px;
    border-color: #222;
    transition-delay: 0.1s;
  }

  .login__label input .login__placeholder {
    padding: 0 5px;
}
